body{
	vertical-align:middle;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: -ms-center;
    color: #000;
    overflow: hidden;
    font-family:Helvetica,Arial Unicode MS;
    padding: 0px;
    
}

.main{
    position: fixed;
    top:0;
    left: 0;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 5px rgb(217,217,217);
    z-index: 10;
}
input:focus{
    border: rgb(130,190,235) 1px solid;
    transition: all .2s ease-in-out;
}
input:hover{
    border: rgb(0,120,215) 1px solid;
    transition: all .2s ease-in-out;
}

div.main>input{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 54%;
    height: 80%;
    font-size: 24px;
    border-radius: 10px;
    padding-left: 5px;
    border: rgb(20,80,126) 1px solid;
    transition: all .3s ease-in-out;
}

div.main>button{
    position: absolute;
    top: 5%;
    height: 80%;
    margin: 0;
    overflow:hidden;
    padding: 0;
    font-size: 26px;
    height: 80%;
    border-radius: 10px;
    border: rgb(20,80,126) 1px solid;
}

div.main>img{
    position: absolute;
    left:1%;
    top:5%;
    height:90%;
}


#infocontain{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 35%;
    text-align: left;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 5px rgb(217,217,217);
    border-radius: 10px;

}


#album{
    width:25%; 
    top: 10%;
    position: absolute;
    left: 2%;
    border-radius: 5px;
}

#songname{
    position: absolute;
    font-size: 36px;
    top: 5%;
    left: 23%;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    padding: 0;
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    margin-top: 10px;
}

#singer{
    font-size: 24px;
    position: absolute;
    padding-top: 10px;
    top: 30%;
    left: 23%;
    margin: 30px;
    height: 0;
    padding: 0;
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    margin-top: 0px;
}

#songmid{
    font-size: 14px;
    position: absolute;
    padding-top: 10px;
    top: 45%;
    left: 23%;
    margin: 30px;
    height: 0;
    padding: 0;
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    margin-top: 0px;
}


#playpause{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 34%;
    right:20%;
    font-size: 18.5px;
    border: rgb(0,120,215) 1px solid;
    border-radius: 4px;
    width:5%;
    background-color: #FFF;
    color: #000;
    height: 15%;
    vertical-align: middle;
}
#searchprogress{
    position: absolute;
    margin: 0;
    font-size: 18px;
    padding: 0;
    top: 34%;
    right:3%;
    background-color: #FFF;
    color: #000;
    border: rgb(0,120,215) 1px solid;
    border-radius: 4px;
    height: 15%;
    vertical-align: middle;
}

#time{
    position: absolute;
    top: 50%;
    right:3%;
    transition: all .3s ease-in-out;
    font-size:18px;
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    
}

#progressbar{
    position: absolute;
    width: 70%;
    left:28%;
    top:60%;
    background-color: #9e9e9e;
    border-radius: 5px;
    height: 10px;
    text-align: left;
}
#progressinner{
    background-color: rgb(0,120,215);
    height: 100%;
    width: 0%;
    border-radius: 5px;
    position: relative;
    top: 0;
    transition: all .3s ease-in-out;
    left: 0;
    margin: 0;
    padding: 0;
}

.copyrights{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin:0;
    background-color: #FFF;
    color: #000;
    box-shadow: 0px 0px 5px 5px rgb(217,217,217);
}